.gridTodo{
    margin-right: 2px solid silver;
    border: 1px solid silver;
}

.gridProgress{
    margin-right: 2px solid silver;
    border: 1px solid silver;
}


.gridDone{
    border: 1px solid silver;
    
}

.task-box{
    border-bottom: 1px solid silver;
    padding: 10px;
    background: rgb(228, 233, 230);
}
ul li{
    list-style: none;
}

.Low{
    color: rgb(185, 13, 142);
    font-size: 14px;
}

.Medium{
    color: rgb(36, 19, 192);
    font-size: 14px;
}

.High{
    color: Red;
    font-size: 14px;
}

b{
    font-size: 12px;
}

li{
    font-size: 14px;
    color: black;
}

.addbutton{
    margin: 10px 0px 10px 0px;
}