/* You can add global styles to this file, and also import other style files */
@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";
@import 'ngx-toastr/toastr';
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html, body { height: 100%;  overflow-x: hidden; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
