<form [formGroup]="service.formModel" autocomplete="off" (submit)="onSubmit()">
    <div class="form-group required">
      <label>Full Name</label>
      <input class="form-control" formControlName="FullName">
      <label class="text-danger" *ngIf="service.formModel.get('FullName')!.touched && service.formModel.get('FullName')!.hasError('required')">This field is mandatory.</label>
    </div>

    <div class="form-group">
      <label>Email</label>
      <input class="form-control" formControlName="Email">
      <label class="text-danger" *ngIf="service.formModel.get('Email')!.touched && service.formModel.get('Email')!.hasError('required')">Invalid
        email address.</label>
    </div>

    <div formGroupName="Passwords">
      <div class="form-group required">
        <label>Password</label>
        <input type="password" class="form-control" formControlName="Password">
        <label class="text-danger" *ngIf="service.formModel.get('Passwords.Password')!.touched && service.formModel.get('Passwords.Password')!.hasError('required')">This
          field is mandatory.</label>
        <label class="text-danger" *ngIf="service.formModel.get('Passwords.Password')!.touched && service.formModel.get('Passwords.Password')!.hasError('minlength')">Minimum
          6 characters required with a Special character.</label>
      </div>
      <div class="form-group required">
        <label>Confirm Password</label>
        <input type="password" class="form-control" formControlName="ConfirmPassword">
        <label class="text-danger" *ngIf="service.formModel.get('Passwords.ConfirmPassword')!.touched && service.formModel.get('Passwords.ConfirmPassword')!.hasError('required')">This
          field is mandatory.</label>
        <label class="text-danger" *ngIf="service.formModel.get('Passwords.ConfirmPassword')!.touched && service.formModel.get('Passwords.ConfirmPassword')!.hasError('passwordMismatch')">Confirm
          Password does not match.</label>
      </div>
    </div>
<br>
    <div class="form-group">
      <div class="form-group col-md-8 offset-md-5">
        <button type="submit" class="btnSubmit"  mat-raised-button color="accent" [disabled]="!service.formModel.valid">Sign Up</button>
      </div>
    </div>
<br>
  </form> 