<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar class="sidebarMenu">Dashboard</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="task">Task</a>
      
    </mat-nav-list>
    
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      @if (isHandset$ | async) {
        <button
          type="button"
          aria-label="Toggle sidenav"
          mat-icon-button
          (click)="drawer.toggle()">
          <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        
        </button>
       
      }
      <span>Task Management</span>
      <span class="example-spacer"></span>
      <p style="font-size: 12px; font-weight: normal; margin-right: 10px; padding-top: 12px;">Logged in by : {{currentUser}}</p>

      <button mat-raised-button color="accent" (click)="onLogout()">Logout</button>
    </mat-toolbar>
    <!-- Add Content Here -->

     <div style="margin: 15px;">
      <router-outlet></router-outlet>
     </div>

  </mat-sidenav-content>
</mat-sidenav-container>


